<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<script src="{% static 'js/home.js' %}"></script>


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
  

  <meta charset="utf-8">
  <title>Secure Health Insurance</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/home1.css' %}">
  <link rel="stylesheet" href="{% static 'css/newhome.css' %}">



</head>

<body style="background-image:url({% static 'images/bg.jpg' %});">
  <!--Header-->
  <header id="header" >
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a class="scrollto" style="color:#007bff;">Secure Health Insurance</a></h1>
      </div>
      <span style=" padding-left: 850px  "> <a style="color: white; font-size: 16px;" href="{% url 'logout' %}">Log Out</a></span>
    </div>
  </header>
<br><br><br><br>
<h3 style="color: white; margin-left: 14%;">Hello, {{name}}</h2>

  <div class="card" style="position: relative; margin-left: 14%; background-color: #26282c; opacity: 0.9; ">
  
    
  
    <div class="icon">
      <svg class="svg-icon" viewBox="0 0 20 20">
        <path d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
      </svg>
    </div><!--/icon-->
  
    <div class="features">
      <ul>
        <li>Make a new claim?</li>

      </ul>
    </div><!--/features-->
  
    <a  href="{% url 'analysisapp:submit' %}" class="btn">New claim</a>
    
  
  </div><!--/card-->

    <div class="card" style="background-color: #363636; margin-left: 9%;opacity: 0.9;">
  
  
    <div class="icon">
      <svg class="svg-icon" viewBox="0 0 20 20">
        <path d="M14.38,3.467l0.232-0.633c0.086-0.226-0.031-0.477-0.264-0.559c-0.229-0.081-0.48,0.033-0.562,0.262l-0.234,0.631C10.695,2.38,7.648,3.89,6.616,6.689l-1.447,3.93l-2.664,1.227c-0.354,0.166-0.337,0.672,0.035,0.805l4.811,1.729c-0.19,1.119,0.445,2.25,1.561,2.65c1.119,0.402,2.341-0.059,2.923-1.039l4.811,1.73c0,0.002,0.002,0.002,0.002,0.002c0.23,0.082,0.484-0.033,0.568-0.262c0.049-0.129,0.029-0.266-0.041-0.377l-1.219-2.586l1.447-3.932C18.435,7.768,17.085,4.676,14.38,3.467 M9.215,16.211c-0.658-0.234-1.054-0.869-1.014-1.523l2.784,0.998C10.588,16.215,9.871,16.447,9.215,16.211 M16.573,10.27l-1.51,4.1c-0.041,0.107-0.037,0.227,0.012,0.33l0.871,1.844l-4.184-1.506l-3.734-1.342l-4.185-1.504l1.864-0.857c0.104-0.049,0.188-0.139,0.229-0.248l1.51-4.098c0.916-2.487,3.708-3.773,6.222-2.868C16.187,5.024,17.489,7.783,16.573,10.27"></path>
      </svg>
    </div><!--/icon-->
  
    <div class="features">
      <ul>
        <li>Check claim status?</li>
      </ul>
    </div><!--/features-->
  
    <a href="{% url 'analysisapp:status' %}" class="btn">Status</a>
  
  </div><!--/card-->
  
  
  
   

  


   <!--Flip cards section -->
<!--
<section id="call-to-action" class="wow fadeIn" style="margin-top: 80px;">
    <div class="row">

      <div class="col">
        <div class="flip-box" >
           <div class="flip-box-inner">
             <div class="flip-box-front">
                <img src="/static/member1.png" alt="member" style="width:150px;height:150px;margin-top: 30px">
              </div>
              <div class="flip-box-back">
                  <div class="text" style="margin-top: 50px;">
                    <h4> Already a Member? </h4>
                    <a href="{% url 'login' %}"type="button" class="btn btn-danger">Login</a>
                  </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col">
       <div class="flip-box">
          <div class="flip-box-inner">
          <div class="flip-box-front">
          <img src="/static/re.png" alt="member" style="width:150px;height:150px;margin-top: 30px">
          </div>
          <div class="flip-box-back">
          <div class="text" style="margin-top: 50px;">
          <h4> Not a Member? </h4>
          <a href="{% url 'signup' %}"type="button" class="btn btn-danger">Register</a>
          </div>
          </div>
          </div>
          </div>
      </div>

    </div>
  </div>
</section>
  

-->

  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>


  <script src="{% static 'js/main.js' %}"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</body>
</html>






