{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{{% load static %}
{% block content %}
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


<script src="{% static 'js/request.js' %}"></script>
 <link rel="stylesheet" href="{% static 'css/request_statusbar.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'css/request_table_style.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'form/css/align.css' %}">
 

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'form/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'form/css/main.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	

   

</head>

<body >	
<div>	
<span style="float:left"><h1 style="padding-left: 30px">Your Requests</h1></span>
<span style="float:right"> <a href="{% url 'logout' %}" class="nav-link">Log Out</a></span><span style="float:right"> <a class="nav-link" href="/analysis/provider">Home</a></span>

</div>
<br>
<br>
<br>
<hr class="style-two">
<br>

{% for r in table %}
	<br>
	<div class="tablerow" id="contain" style="background-color: #ffffff;z-index: 1; position: relative;margin-left: 5%;margin-bottom: 15px;font-size: 14px;margin-left: 10%;">
	
		<div class ="flatcolumn pull-left" id="left">
			<div class="" ><span class="step">Claim Id: {{r.claimid}}</span></div>
		</div>

		<div class="details" id="center" style="z-index:1; position: relative;">
			
		<div >
			
			{% if r.documentver == 'A' or r.label == 'notsuspicious' %}
			<div class="container1" style="margin-left: 25%;">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li class="active">In Progress</li>
          			<li class="active">Completed</li>
          			
 				 </ul>

    		</div> 
    		
    		
    		{% elif r.documentver == 'D' %}
			<div class="container1" style="margin-left: 25%;">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li class="active">In Progress</li>
          			<li>Completed</li>
          			
 				 </ul>
    		</div> 
    		
			{% elif r.documentver == 'ND'  %}
			<div class="container1" style="margin-left: 25%;">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li>In Progress</li>
          			<li>Completed</li>
          			
 				 </ul>
    		</div> 
    	

			{% elif r.documentver == 'R'  %}
			<div class="container1" style="margin-left: 25%;">
     			 <h1>Claim Rejected</h1>
    		</div> 
    		{% endif %}
		</div>
		<div> 
			{% if r.label == 'suspicious'  %}
				{% if r.documentver == 'ND' %}
				<h5 style="font-style: italic">Your claim has been flagged for review. Please submit required documents.</h5>
				<a href="{% url 'analysisapp:docver' r.claimid %}"type="button" class="btn btn-danger">Document Verfication</a>
				{% endif %}
				{% endif %}
		</div>



	</div>


	
	</div>

</body>
</div>
{% endfor %}
{% endblock %}